A.blue_link        {color: #002060            }
A.blue_link:link   {text-decoration: none     }
A.blue_link:hover  {text-decoration: underline}

A.green_link       {color: #283E1A            }
A.green_link       {display: block            }
A.green_link:link  {text-decoration: none     }
A.green_link:hover {text-decoration: underline}

A.red_link         {color: maroon             }
A.red_link         {display: block            }
A.red_link:link    {text-decoration: none     }
A.red_link:hover   {text-decoration: underline}

A.white_link       {color: white              }
A.white_link       {padding-left: 20px        }
A.white_link       {line-height: 30px         }
A.white_link:link  {text-decoration: none     }
A.white_link:hover {text-decoration: underline}

.black_color           {color: black             }
.blue_color            {color: blue              }
.dark_blue_background  {background-color: #002060}
.dark_blue_color       {color: #002060           }
.dark_gray_color       {color: #8497B0           }
.green_color           {color: #283E1A           }
.light_gray_background {background-color: #ACB9CA}
.red_color             {color: maroon            }
.upset_pick_color      {color: #AA0000           }
.white_color           {color: white             }

.table
{
   color: white;
   font-family: Calibri;
   text-align: left;
   background-color: #ACB9CA;
   border-spacing: 0px;
   white-space: nowrap;
   width: 100%;
   height: 100%;
}

.dark_blue_cell
{
   background-color: #002060;
   border-top: 5px solid #ACB9CA;
   border-bottom: 5px solid #ACB9CA;
   border-left: 5px solid #ACB9CA;
   border-right: 5px solid #ACB9CA;
   border-radius: 25px;
}

.dark_gray_cell
{
   color: maroon;
   font-size: 18pt;
   font-weight: bold;
   text-align: center;
   background-color: #8497B0;
   border-top: 5px solid #ACB9CA;
   border-bottom: 5px solid #ACB9CA;
   border-left: 5px solid #ACB9CA;
   border-right: 5px solid #ACB9CA;
   border-radius: 25px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
   width: 20%;
}

.green_cell
{
   font-size: 12pt;
   background-color: #283E1A;
   border-top: 5px solid #ACB9CA;
   border-bottom: 5px solid #ACB9CA;
   border-left: 5px solid #ACB9CA;
   border-right: 5px solid #ACB9CA;
   border-radius: 25px;
   padding-top: 10px;
   padding-bottom: 10px;
   vertical-align: top;
   height: 100%;
}

.light_gray_cell
{
   color: maroon;
   font-size: 18pt;
   font-weight: bold;
   text-align: center;
   background-color: #ACB9CA;
   border-top: 5px solid #ACB9CA;
   border-bottom: 5px solid #ACB9CA;
   border-left: 5px solid #ACB9CA;
   border-right: 5px solid #ACB9CA;
   border-radius: 25px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
}

.red_cell {
   font-size: 12pt;
   background-color: maroon;
   border-top: 5px solid #ACB9CA;
   border-bottom: 5px solid #ACB9CA;
   border-left: 5px solid #ACB9CA;
   border-right: 5px solid #ACB9CA;
   border-radius: 25px;
   padding-top: 10px;
   padding-bottom: 10px;
   vertical-align: top;
}